/*All Pages*/
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/*Navbar*/

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #FF5E5E;
}


.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
  background-color: #FF5E5E;
  border-radius: 8px;
}
.navbar a:hover {
  background: #ff375a;
}
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

/*Synonyms Page*/
.Synonym {
  max-width: 600px;
  margin: -40px auto;
  padding: 20px;
}
.Synonym .addSynonym, .flashcard h1, .displaySynonym h1 {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;

}
.Synonym label {
  text-align: left;
  display: block;
}
.Synonym h1 {
  font-size: 30px;
  color: #d90166;
  margin-bottom: 30px;
}
.Synonym input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.Synonym button {
  background: #FF5E5E;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.Synonym button:hover{
  background: #ff375a;
}

.Synonym .tableTitle{
  text-align: center;
  font-size: 1.2em;
}

.Synonym .buttons .leftBtn{
  margin: 20px 390px 20px 0;
  background: blue;
}

.Synonym .buttons .rightBtn{
  background: blue;
}

.Synonym .buttons .rightBtn:hover{
  background: #6262ff;
}
.Synonym .buttons .leftBtn:hover{
  background: #6262ff;
}

.Synonym .dataLoading-msg{
  font-size: 1.2em;
  color:#00b300;
}

/*Landing Page*/
.LandingPage{
  max-width: 800px;
}
.LandingPage h1 {
  font-size: 30px;
  color: #d90166;
  margin-bottom: 30px;
}
.LandingPage .wordCloud{
  margin: -60px 0 0 -450px;
}

.LandingPage p{
  font-size: 16px;
  color: #8000ff;
}
/*Definitions Page*/

.Definition {
  max-width: 600px;
  margin: -40px auto;
  padding: 20px;
}
.Definition .addDefinition, .flashcard h1, .displayDefinition h1 {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;

}
.Definition label {
  text-align: left;
  display: block;
}
.Definition h1 {
  font-size: 30px;
  color: #d90166;
  margin-bottom: 30px;
}
.Definition input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.Definition button {
  background: #FF5E5E;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.Definition button:hover{
  background: #ff375a;
}

.Definition .tableTitle{
  text-align: center;
  font-size: 1.2em;
}

.Definition .buttons .leftBtn{
  margin: 20px 390px 20px 0;
  background: blue;
}

.Definition .buttons .rightBtn{
  background: blue;
}

.Definition .buttons .rightBtn:hover{
  background: #6262ff;
}
.Definition .buttons .leftBtn:hover{
  background: #6262ff;
}

.Definition .dataLoading-msg{
  font-size: 1.2em;
  color:#00b300;
}

/* Quiz Page */

.Quiz {
  max-width: 600px;
  margin: -40px auto;
  padding: 20px;
}

.Quiz label {
  text-align: left;
  display: block;
}
.Quiz h1 {
  text-align: center;
  font-size: 30px;
  color: #d90166;
  margin-bottom: 30px;
}
.Quiz input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.Quiz button {
  background: #FF5E5E;
  color: #fff;
  margin-top: 10px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.Quiz button:hover{
  background: #ff375a;
}
.Quiz select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

/*Admin page*/

.Admin {
  max-width: 600px;
  margin: -40px auto;
  padding: 20px;
} 
.Admin h1 {
  text-align: center;
  font-size: 30px;
  color: #d90166;
  margin-bottom: 30px;
}
.Admin input{
  width: 50%;
  padding: 6px 10px;
  margin: auto;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.Admin button {
  background: #FF5E5E;
  color: #fff;
  margin: 20px auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}
.Admin button:hover{
  background: #ff375a;
}

.Admin .loginErrMsg{
  display: flex;
  justify-content: center;
  color: blue;
}

.Admin select {
  width: 50%;
  display: flex;
  padding: 6px 10px;
  margin: 10px auto;
  border: 1px solid #ddd;
}
/*WordSets page*/

.wordSets {
  max-width: 600px;
  margin: -40px auto;
  padding: 20px;
}

.wordSets label {
  text-align: left;
  display: block;
}
.wordSets h1 {
  text-align: center;
  font-size: 30px;
  color: #d90166;
  margin-bottom: 30px;
}
.wordSets input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.wordSets button {
  background: #FF5E5E;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.wordSets button.goButton {
  margin: 10px auto;
  padding: 7px;
  width: 50px;
  justify-content: center;
  display: flex;
}

.wordSets button:hover{
  background: #ff375a;
}
.wordSets select {
  width: 50%;
  display: flex;
  padding: 6px 10px;
  margin: 10px auto;
  border: 1px solid #ddd;
}


.wordSets .buttons .leftBtn{
  margin: 20px 390px 20px 0;
  background: blue;
}

.wordSets .buttons .rightBtn{
  background: blue;
}

.wordSets .buttons .rightBtn:hover{
  background: #6262ff;
}
.wordSets .buttons .leftBtn:hover{
  background: #6262ff;
}

.wordSets .dataLoading-msg{
  font-size: 1.2em;
  color:#00b300;
}